@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --boxshadow:0.5rem 1.5rem rgba(0,0,0,1);

}
.full{
    background:  rgba(0,0,0,0.7) url('back.jpg') center center ;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    background-blend-mode: darken;
    grid-template-columns: minmax(300px , auto)1fr;
    grid-template-areas: "navbar mainContent";
}
body{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container {
    background: #e6e3e128;
    display: flex;
    justify-content: space-between;
    /*height: 100px;*/
    /*background-color: black;*/
    
}
#logo{
    height: 3rem;
    height: 3rem;
}
.navbar{
    
    top: 0;
    left: 0;
    padding:0;

    
}

 
.navbar ul li {
    display: inline-flex;
    padding: 15px;
    text-transform: capitalize;
}
.navbar ul li a{
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: 0.7rem solid transparent;
    font-weight: bold;
    transition: 2s;
    cursor: pointer;
    background: none;
}
.a:hover{
    color: #cdaa7c;
  }
/* .b:hover{
    color:  orangered;
    border-radius: 10%;
}
.c:hover{
    color: orangered;
    border-radius: 10%;
} 
.d:hover{
    color: orangered;
    border-radius: 10%;
}  */
.container .icon i{
    margin-top: 5px;
    margin-right: 5px;
    justify-content: left;
    color: #fff;
    text-decoration: none;
    border: 0.7rem solid transparent;
    font-weight: bold;
    transition: 2s;
    cursor: pointer;
    background: #cdaa7c;
    
}
.m :hover{
    color: #fff;
    background: #cdaa7c;
    transform: rotate(360deg);
}
.content1{
    display: flex;
    text-align: center;
    justify-content: center;
}
#image{
   height: 23%;
   width: 43%
   ; 
}
.center{
    text-align: center;
    margin-top: 10%;
}
.center h3{
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

/* Animate Background Image */

    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;

}
@-webkit-keyframes aitf {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
  }
.center h2{
    color: #fff;
}
.log:hover{
    transition: scale(1.1) ;
}
.body{
    margin-top: -18%;
    height: fit-content;
}
section{
    width: 100%;
    margin-top: 10px;
    margin-left: 3rem;
}
.head {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 8px;
}
.boxcontainer{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
.box{
    width:20%;
    height: 20%;
    
}
.image{
    height: 11rem;
    width: 11rem;
    object-fit: cover;
    position:relative;
    padding: 10px;
    border: 1px solid #18181a;
}
.image img{
    object-fit:cover;
    padding: 3px;
    height: 100%;
    width: 100%;
    
}
.box .content2{
    text-align: center;
    margin-right: 55px;
}
.btn{
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    border-radius: 4px;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    /* margin: 10px; */
    font-family: "Roboto", sans-serif;
    filter: hue-rotate(0deg);
    border: 2px solid #d2bdff;
    transition: all 0.1s linear;
  
}
